@model byte[]

<!DOCTYPE html>
<html>
<head>
    <title>Download File</title>
</head>
<body>
    <h1>Download File</h1>

    <form action="/Download/DownloadFile" method="post">
        <input type="hidden" name="fileData" value="@Convert.ToBase64String(Model)" />
        <button type="submit">Download</button>
    </form>
</body>
</html>